#room {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease; /* 애니메이션 부드럽게 */
    position: relative;
    padding: 10px;
}

#room::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0); /* 기본 상태 투명 */
    z-index: 1;
    transition: background-color 0.3s ease; /* 트랜지션 적용 */
}

#room:hover::before {
    background-color: rgba(0,0,0,0.05); /* 아주 살짝 어둡게 */
}

#room img {
    width: 100%;
    display: block;
}

#room h4,
#room .oneline {
    position: relative;
    z-index: 2; /* 텍스트가 오버레이 위로 나오게 */
}


.oneline{
    display: flex;
    justify-content: center;
    gap: 10px;
}

h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.report{
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.report:hover{
    color: #6D94C5;
}